# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Stop tNavigatorComputingNode.exe
      run: pwsh -Command Stop-Process -Name "tNavigatorComputingNode.exe"

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Publish
      run: dotnet publish -c Release -o out
    - name: Copy dir 
      run: Copy-Item -Path "out" -Destination "C:\tNavNnode" -Recurse
    - name: Start tNavigatorComputingNode.exe
      run: Start /b C:\tNavNode\tNavigatorComputingNode.exe
